.btn {
    background-color: var(--secondary-color);
    margin: 5px;
    display: inline-block;    padding: 1em;
    color: #fff;
    font-size: 18px;
    line-height: 1em;
    border: none;
    text-decoration: none;
    border-radius: 0.3em;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.3s;
}
.btn:hover {
    box-shadow: 0 3px 6px #0003;
    opacity: 1;
}